APP_NAME="Task Management" # Sesuaikan
APP_ENV=local # Ganti menjadi 'staging' jika di server staging
APP_KEY=
APP_DEBUG=true # Biarkan 'true' di staging untuk mempermudah testing, ganti 'false' di production
APP_URL=http://localhost # Ganti dengan URL domain staging (contoh: https://staging.domain-javas.com)

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

# --- DATABASE STAGING CONFIG ---
DB_CONNECTION=mysql
DB_HOST=127.0.0.1 # Ganti dengan IP/Host database dari server staging
DB_PORT=3306
DB_DATABASE=db_name # Ganti dengan nama database staging
DB_USERNAME=root # Ganti dengan username database staging
DB_PASSWORD= # Isi dengan password database staging

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

# --- MAIL STAGING CONFIG ---
MAIL_MAILER=log # Ganti ke 'smtp' jika ingin testing kirim email di staging
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1 # Ganti ke host mailtrap atau layanan SMTP staging lainnya
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com" # Ganti dengan email pengirim staging
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"
